.App {
  width: 100%;
}

body {
  margin: 0px;
  background-color: seashell;
}
a:link {
}
a:visited {
}
a:hover {
}
a:active {
}

.header {
  background-color: darkorange;
}
/*
navbar stuff
*/
.liNav {
  float: left;
}
.liNav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.liNav a:hover {
  background-color: #111111;
}
.links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: 100%;
}
.app-navbar {
  justify-content: center;
  background-color: #333;
  display: flex;
  flex-direction: row;
}

/*
review cards and galleries by page
*/
.review-gallery-home {
  display: flex;
}
.review-gallery-main {
}
.review-card-home {
  border: black;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  max-width: 150px;
}
.review-card-img-home {
  max-width: 150px;
}
.review-card-home:hover {
  border-width: 2px;
  margin: 9px;
}
.review-card-main {
  background-color: gainsboro;
  border: black;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.review-card-main:hover {
  border-width: 2px;
  margin-left: 10px;
  margin-right: 9px;
  background-color: rgb(210, 210, 210);
}
.review-card-img-main {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.review-card-main-details {
  margin-left: 10px;
}
.userIcon {
  width: 30px;
  height: 30px;
}
.review-page {
}
.review-full {
  width: 80%;
  margin: auto;
}
.review-full-img {
  width: 60%;
}
.share-icon {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 30px;
  background-color: seashell;
}
.share-icon:hover {
  opacity: 0.5;
}
.review-body {
  max-width: 750px;
}

.submit-comment {
  border-style: solid;
  border-width: 1px;
  margin-left: 10%;
  margin-right: 30%;
  background-color: rgb(250, 232, 219);
}
