.App {
  text-align: center;
  width: 100%;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}

.app-header {
  background-color: darkgoldenrod;
}

.app-navbar {
  background-color: bisque;
  display: flex;
  flex-direction: row;
}

.app-main {
  background-color: burlywood;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cadetblue;
}
