.App {
  text-align: center;
  width: 100%;
}

.app-header {
  background-color: darkgoldenrod;
}

.app-navbar {
  background-color: bisque;
}

.app-main {
  background-color: burlywood;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cadetblue;
}
